@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
  --almost-white: #fafafa;
  --medium-gray: #696969;
  --almost-black: #141414;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Epilogue';
  font-size: 15px;
  -webkit-tap-highlight-color: transparent;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  height: auto;
  background-color: var(--almost-white);
}

main {
  min-height: 100vh;
  height: 100%;
}

main.ativo {
  filter: blur(3px);
  transition: .3s;
}

.header {
  padding: 1rem 0rem 1rem 1rem;
}

.logo-wrapper img {
  padding-top: .5rem;
}

.hamburguer {
  position: absolute;
  width: 35px;
  height: 20px;
  right: 1rem;
  top: 25px;
  z-index: 3000;
  cursor: pointer;
}

.hamburguer.ativo #line-1 {
  transform: rotate(45deg)
             translate3d(0, 12px, 0);
  transition: .3s;
  background-color: var(--medium-gray);
}

.hamburguer.ativo #line-2 {
  opacity: 0;
  transition: .3s;
}

.hamburguer.ativo #line-3 {
  transform: rotate(-45deg)
             translate3d(0, -12px, 0);
  transition: .3s;
  background-color: var(--medium-gray);
}

.lines {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#line-1,
#line-2,
#line-3 {
  background-color: var(--almost-black);
  width: 100%;
  height: 3px;
  transition: .3s;
}

.navbar {
  background-color: var(--almost-white);
  box-sizing: border-box;
  position: fixed;
  right: -250px;
  top: 0px;
  height: 100%;
  width: 100%;
  max-width: 250px;
  padding: 1rem;
  color: var(--medium-gray);
  transition: .3s;
  z-index: 2000;
}

.navbar.ativo {
  right: 0px;
  transition: .3s;
}

.menu-wrapper {
  margin-top: 4rem;
}

.menu a {
  padding: .7rem;
}

.menu img {
  margin-right: .5rem;
  padding-bottom: .2rem;
}

.arrow {
  margin-left: .5rem;
  padding-bottom: .15rem;
}

.dropdown-menu {
  max-height: 0rem;
  height: auto;
  border-radius: 15px;
  opacity: 0;
  transition: .3s;
  cursor: pointer;
  margin: .7rem 0rem 1rem 1rem;
  cursor: default;
  pointer-events: none;
} 

.dropdown-menu * {
  cursor: default;
}

.dropdown-menu li a{
  display: flex;
  align-items: center;
}

.dropdown-menu.ativo { 
  max-height: 11rem;
  opacity: 1;
  transition: .3s;
  pointer-events: auto;
}

.open-menu img {
  transition: .2s;
}

.open-menu.ativo img {
  transform: rotate(180deg);
  transition: .2s;
}

.dropdown-menu.ativo * {
  cursor: pointer;
}

.menu-opened a:hover {
  cursor: pointer;
  background-color: #eaeaea;
  border-radius: 10px;
}

.about {
  margin-top: 1.7rem;
}

.btns {
  margin-top: 2rem;
}

.btns button,
.information button {
  width: 100%;
  margin-bottom: .3rem;
  height: 45px;
  background: var(--almost-white);
  border: none;
  border-radius: 15px;
  color: var(--medium-gray);
  cursor: pointer;
  transition: .3s;
}

#register {
  border: 2px solid var(--medium-gray);
}

#register:hover,
#login:hover {
  background-color: var(--almost-black);
  color: var(--almost-white);
  border-color: var(--almost-black);
  transition: .3s;
}

.intro {
  max-width: 576px;
  margin: 0 auto;
  transition: .3s;
}
  
.intro-img-wrapper img {
  width: 100%;
}

.information-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0rem .3rem;
}

.information,
.information p,
.information button,
.client-wrapper {
  margin-top: 2rem;
}

.information h1 {
  font-size: 1.8rem;
}

.information p {
  font-size: 18px;
  color: var(--medium-gray);
}

#br {
  display: none;
}

.information button {
  width: 150px;
  background-color: var(--almost-black);
  color: var(--almost-white);
  transition: .3s;
}

.information button a {
  padding: 1rem 2rem;
}

.information button:hover {
  background-color: var(--almost-white);
  color: var(--almost-black);
  border: 2px solid var(--almost-black);
}

.client {
  display: flex;
  justify-content: space-between;
}

.client-wrapper {
  padding: 0rem 1rem 2rem 0rem;
}

.client img {
  width: 20%;
  height: auto;
  align-self: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: var(--medium-gray);
}

/* ############################################MEDIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
@media (min-width: 992px) {
  .header {
    display: flex;
    padding: 1rem;
  }

  .logo-wrapper img {
    padding-top: .8rem;
  }

  .navbar {
    position: relative;
    top: 0px;
    right: 0px;
    padding: 0rem 0rem 0rem 2rem;
    max-width: none;
  }

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
  }

  .menu ul {
    display: flex;
  }

  .dropdown-menu {
    flex-direction: column;
    position: absolute;
    z-index: 200;
    background-color: var(--almost-white);
    box-shadow: 0px 0px 30px 0rem var(--almost-black);
    height: auto;
    padding: 1rem 1rem 1rem 1rem;
    width: 8rem;
  }

  .open-menu:hover img {
    transform: rotate(180deg);
    transition: .2s;
  }

   .open-menu:hover + .dropdown-menu,
   .menu-opened:hover { 
    max-height: 11rem;
    opacity: 1;
    transition: .3s;
    pointer-events: auto;
  }

  .menu li {
    margin: 0px;
  }

  .btns {
    display: flex;
    margin-top: 0px;
  }

  .btns button {
    width: 120px;
    margin: 0rem 0rem 0rem .5rem;
  }

  .hamburguer {
    display: none;
  }

  .intro {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    max-width: 992px;
  }

  .intro {
    max-width: 992px;
    margin: 0 auto;
    padding: 0rem 1rem;
  }

  .intro-img-wrapper img {
    width: 90%;
  }

  .information {
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .information-wrapper {
    text-align: start;
    align-items: flex-start;
  }

  .information h1 {
    font-size: 4.5rem;
  }

  .information p {
    width: 75%;
    margin-top: 3rem;
  }

  #br {
    display: block;
  }

  .information button {
    margin-top: 3.5rem;
  }

  .client {
    margin-top: 5rem;
  }
}